/* ==================== CONFIGURAÇÕES GERAIS ==================== */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f4f8; /* Fundo suave */
    box-sizing: border-box;      /* Inclui padding e border na largura total */
}

/* ==================== CABEÇALHO ==================== */
.navbar {
    background-color: #004d99; /* Azul do topo */
    color: white;
    display: flex;
    justify-content: space-between; /* Espaço entre logo e menu */
    align-items: center;
    padding: 10px 40px;
}

/* Estilo do título no topo (logo ou nome do site) */
.logo h1 {
    margin: 0;
    font-size: 24px;
}

/* ==================== MENU ==================== */
.menu {
    list-style: none;
    display: flex;
    gap: 20px; /* Espaçamento entre os itens */
    margin: 0;
    padding: 0;
}

.menu li a {
    color: white;
    text-decoration: none;   /* Remove o sublinhado dos intens da lista desordenada*/
    font-weight: bold;
    transition: 0.3s;
}

/* Efeito ao passar o mouse */
.menu li a:hover {
    text-decoration: underline;
}


.login-btn {
    background-color: #004d99;
    color: #1E5AA8;
    padding: 5px 12px;
    border-radius: 20px;
    font-weight: bold;
}

/* ==================== CONTEÚDO CENTRAL ==================== */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Centraliza verticalmente */
}

/* Card central (formulário) */
.form-container {
    background-color: #004d99; /* Azul escuro */
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 330px;
}

/* Avatar circular (ícone do usuário) */
.avatar {
    width: 80px;
    height: 80px;
    background-color: #f2f2f2;
    border-radius: 50%;
    margin: 0 auto 20px;
    background-image: url('https://cdn-icons-png.flaticon.com/512/847/847969.png');
    background-size: cover;
    background-position: center;
}


/* Campos de entrada e seleção */
input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

select{      /* Campo de seleção com largura maior, aprendi por deducao sozinho */
    width: 105%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-size: 14px;    
}

/* Botão de envio */
button {
    width: 105%;  /* Largura maior que 100% para destacar */
    padding: 10px;
    background-color: white;
    color: #004d99;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

/* Efeito hover no botão */
button:hover {
    background-color: #f0f0f0;
}

/* ==================== RODAPÉ ==================== */
footer {
    background-color: #004d99;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}